/* ====== FONT RAJDHADI */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');


/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    --primary-color: hsl(18, 99%, 54%);
    --primary-color-hover: hsl(20, 90%, 45%);
    --title-color: hsl(240, 5%, 10%);
    --body-color: #f8f7fd;
    --text: #666;
    --lighter: #999;
    --dark: #222;
    --border: #e0e0e0;
    --border-color: #222;
    --shadow: hsla(0, 0%, 15%, .1);

    /*========== Font and typography ==========*/
    --biggest-font-size: 7.2rem;
    --h1-font-size: 6.2rem;
    --h2-font-size: 4.6rem;
    --h3-font-size: 3.6rem;
    --h4-font-size: 2.8rem;
    --h5-font-size: 2.2rem;
    --h6-font-size: 1.8rem;
    --normal-font-size: 1.6rem;
    --small-font-size: 1.4rem;
    --smaller-font-size: 1.2rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-bold: 600;

    /*========== Margenes Bottom ==========*/
    --mb-0-8: .8rem;
    --mb-1-2: 1.2rem;
    --mb-1-6: 1.6rem;
    --mb-2: 2rem;
    --mb-2-4: 2.4rem;
    --mb-2-8: 2.8rem;
    --mb-3-6: 3.6rem;
}

/* Responsive typography */
@media screen and (max-width: 992px) {
    :root {
        --biggest-font-size: 6.2rem;
        --h1-font-size: 4.6rem;
        --h2-font-size: 3.6rem;
        --h3-font-size: 2.8rem;
        --h4-font-size: 2.2rem;
        --h5-font-size: 1.8rem;
        --h6-font-size: 1.4rem;
        --normal-font-size: 1.6rem;
        --small-font-size: 1.4rem;
        --smaller-font-size: 1.2rem;
    }
}
@media screen and (max-width: 460) {
    :root {
        --biggest-font-size: 4.6rem;
        --h1-font-size: 3.6rem;
        --h2-font-size: 2.8rem;
        --h3-font-size: 2.2rem;
        --h4-font-size: 2rem;
        --h5-font-size: 1.6rem;
        --h6-font-size: 1.2rem;
        --normal-font-size: 1.4rem;
        --small-font-size: 1.2rem;
        --smaller-font-size: 1rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    font-size: 50%;
}
body,
button,
input {
    font-family: 'Rajdhani', sans-serif;
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
button {
    cursor: pointer;
}
button,
input {
    border: none;
    outline: none;
}
h1, h2, h3, h4 {
    color: var(--title-color);
}
h1 {font-size: var(--h1-font-size);}
h2 {font-size: var(--h2-font-size);}
h3 {font-size: var(--h3-font-size);}
h4 {font-size: var(--h4-font-size);}
h5 {font-size: var(--h5-font-size);}
h6 {font-size: var(--h6-font-size);}

/*=============== LAYOUT ===============*/
.container {
    max-width: 1168px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
}
.d-flex {
    display: flex;
}


/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {}

/* For medium devices */
@media screen and (max-width: 767px) {}

@media screen and (max-width: 576px) {}

/* For small devices */
@media screen and (max-width: 320px) {}